<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <%= name %> <%= age %>
  <form action = "/profile" method = "post">
   <input type = "text" name = "username">
   <br>
   <input type = "password" name = "password">
   <button type = "submit">Submit</button>
  </form>
  </body>
</html>
